<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calendar</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body style="font-family: 'Montserrat'; background-color: #f4f4f4;">
    <div class="input-group mx-3 mt-3">
        <div class="input-group input-group-sm bg-white" style="overflow: hidden;width: fit-content;">
            <span class="input-group-text">Year</span>
            <a href="{{ url_with_param('year', year - 1) }}" class="btn px-3 btn-outline-secondary">&lt;</a>
            <span class="input-group-text">{{ request.args.get('year', year) }}</span>
            <a href="{{ url_with_param('year', year + 1) }}" class="btn px-3 btn-outline-secondary">&gt;</a>
        </div>
        <div class="input-group input-group-sm bg-white ms-5" style="overflow: hidden;width: fit-content;">
            <span class="input-group-text">Align</span>
            <a href="{{ url_with_param('align', 'weekends')  }}" class="btn px-2 btn-outline-primary {% if request.args.get('align', align) == 'weekends'  %}active{% endif %}">Weekends</a>
            <a href="{{ url_with_param('align', 'first_day') }}" class="btn px-2 btn-outline-primary {% if request.args.get('align', align) == 'first_day' %}active{% endif %}">1st Day</a>
            <a href="{{ url_with_param('align', 'last_day')  }}" class="btn px-2 btn-outline-primary {% if request.args.get('align', align) == 'last_day'  %}active{% endif %}">Last Day</a>
        </div>
    </div>
    
    <div class="shadow-sm m-3 rounded rounded-3" style="overflow: hidden;width: fit-content;">
        {{ content | safe }}
    </div>
</body>

</html>